<mat-card *ngIf="service.chartOptions.xAxis.categories.length > 0" class="chart">
  <mat-card-content>
    <highcharts-chart style="display: block;"
      [Highcharts] = "highcharts"
      [options] = "service.chartOptions"
      [(update)]="service.updateFromInput">
    </highcharts-chart>
  </mat-card-content>
</mat-card>


<!--mat-card style="float: left;">
  <mat-card-content>
    <ag-grid-angular
      style="width: 500px; height: 200px; "
      class="ag-theme-alpine"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </mat-card-content>
</mat-card-->
