.wind .dir {
  display: inline-block;
    width: 1em;
    height: 1em;
    background: url('../../../assets/windarrow.svg');
    background-size: 100% 100%;
}

.weather-icon {
  width: 30px;
  height: 30px;
}
